#### Git Ignore File
# General-purpose suggestions.
# Leave commented-out until needed.

# Python
.venv
__pychache__
*.pyc

# VS Code
.vscode


# OSX-Generated
.DS_Store
#.localized


# Windows-Generated
#Thumbs.db
#ehthumbs.db
#Desktop.ini


#### IntelliJ IDEA
.idea
*.iml
#*.iws


#### Eclipse
#.classpath
#.project
#.settings/


#### Maven
#log/
#target/


##
#

